﻿@model Novotel.DAL.CategoryAndSubCategory
@*@{
	ViewBag.Title = "Get";
}*@

<h2>Categories</h2>

<form method="get">
	<input type="number" value="@Model.chirag"/>
</form>
@*<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">chirag</th>


		</tr>
	</thead>*@
	@*@foreach (var cs in Model)
	{*@
	@*<tbody>
		<tr>
			<td>@Model.chirag</td>
			

		</tr>

	</tbody>*@
		@*for (int i = 0; i < cs.Categories.Count; i++)
			{
				<tbody>
					<tr>
						<td>@cs.Categories[i].id</td>
						<td>@cs.Categories[i].name</td>
						<td>@cs.Categories[i].menuId</td>

					</tr>

				</tbody>
			}*@

	@*}*@
@*</table>*@

@*<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">CatId</th>

		</tr>
	</thead>
	@foreach (var cs in Model)
	{
		for (int i = 0; i < cs.SubCategories.Count; i++)
		{
			<tbody>
				<tr>
					<td>@cs.SubCategories[i].id</td>
					<td>@cs.SubCategories[i].name</td>
					<td>@cs.SubCategories[i].categoryId</td>

				</tr>

			</tbody>
		}
		
	}
</table>*@


